<div class="modal-header">
    <h2>Status appointment {{appointment.appointmentID}}</h2>
</div>
<div class="modal-body">
    <h4>Created by: {{creator.username}}</h4>
    <h4>People invited: {{ numberOfParticipants}}</h4>
    <h5>Meeting room: {{appointment.name}}</h5>
    <h5>Start: {{appointment.starttime | date:'HH:mm EEEE d.MM.y'}}</h5>
    <h5>End: {{appointment.starttime | date:'HH:mm EEEE d.MM.y'}}</h5>
    <legend class="linePad">Description</legend>
    {{appointment.desc}}
    <legend class="linePad"></legend>
    <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><a>ID</a></th>
        <th><a>Username</a></th>
        <th><a>Group</a></th>
        <th><a>Status</a></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in appointment.participants">
        <td>{{employee.employeeID.employeeID}}</td>
        <td>{{employee.employeeID.username}}</td>
        <td>{{employee.employeeID.name}}</td>
        <td>
          <span ng-if="employee.status == 0" class="label label-danger">Not attending</span>
          <span ng-if="employee.status == 1" class="label label-success">Attending</span>
          <span ng-if="employee.status === null" class="label label-warning">Not replied</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="alter()">Ok</button>
</div>
