<div class="form-group" class="col-md-12">
  <label for="clientName">ClientName</label>
  <input type="text" class="form-control" id="clientName" ng-model="client.NAME">
</div>
<div class="form-group" class="col-md-12" >
  <label for="ClientID">ClientID</label>
  <input type="text" class="form-control" id="ClientID" ng-model="client.ID">
</div>
<button type="button" class="btn btn-primary btn-block" ng-click="createClient(client)"><b>Lag ny bruker</b></button>
<div class="row">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><a>Bruker ID</a></th>
        <th><a>Navn</a></th>
        <th><a>Administrer</a></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="client in clients | filter:search| orderBy:predicate:reverse">
        <td>{{client.clientID}}</td>
        <td>{{client.clientName}}</td>
        <td>
          <button type="button" class="btn-xs btn-danger" ng-click="deleteClient(client.clientID)"><span>Slett</span></button>
          <button type="button" class="btn-xs btn-primary" ng-click="openModal(client)"><span>Rediger</span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>